/* Fonts */
@font-face {
    font-family: "korolev";
    src: url("https://use.typekit.net/af/cd98f3/00000000000000003b9b1a1c/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"), url("https://use.typekit.net/af/cd98f3/00000000000000003b9b1a1c/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"), url("https://use.typekit.net/af/cd98f3/00000000000000003b9b1a1c/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
    font-display: auto;
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "korolev";
    src: url("https://use.typekit.net/af/d575c3/00000000000000003b9b1a22/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff2"), url("https://use.typekit.net/af/d575c3/00000000000000003b9b1a22/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff"), url("https://use.typekit.net/af/d575c3/00000000000000003b9b1a22/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("opentype");
    font-display: auto;
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "korolev";
    src: url("https://use.typekit.net/af/cf0a65/00000000000000003b9b1a20/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff2"), url("https://use.typekit.net/af/cf0a65/00000000000000003b9b1a20/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff"), url("https://use.typekit.net/af/cf0a65/00000000000000003b9b1a20/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("opentype");
    font-display: auto;
    font-style: normal;
    font-weight: 300;
}

:root {
    --yellow: #ffc107;
    --white: #ffffff;
    --gray: #eaeae9;
}

.c-nav {
    position: fixed;
    height: 6rem;
    width: 100%;
    background-color: var(--white);
    display: flex;
    align-items: center;
    z-index: 100000;
}
.c-nav > .c-nav-body {
    padding: 0 25rem;
    height: 2.5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--yellow);
}
.c-nav-body > ul {
    display: inline-flex;
    list-style-type: none;
    padding: 0;
    position: relative;
    top: .5rem;
}
.c-nav-body > ul > li {
    color: var(--white);
    font-weight: bold;
    padding: 0 1rem;
    font-size: .75rem;

}
.c-nav-body > .c-nav-brand {
    background-color: var(--white);
    padding: .5rem;
    width: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.c-nav-brand > img {
    height: 4.5rem;
}

.c-footer {
    background-color: var(--white);
}
.c-footer > div:nth-child(2) {
    background-color: var(--yellow);
    display: flex;
    align-items: center;
    justify-content: center;
}
.c-footer > div:nth-child(3) {
    background-color: var(--gray);
}
.c-footer > div:nth-child(2) {
    background-color: var(--yellow);
}
.c-footer > div:nth-child(1) {
    text-align: center;
    height: 3rem;
}
.c-footer > div:nth-child(1) > img {
    height: 2.25rem;
}
.c-footer > div:nth-child(2) > ul {
    display: flex;
    list-style: none;
    padding: 0;
    position: relative;
    top: .5rem;
}
.c-footer > div:nth-child(2) > ul > li {
    color: var(--white);
    padding: 0 1rem;
    font-weight: bold;
    font-size: .75rem;
}
.c-footer > div:nth-child(2) > ul > li > a {
    color: var(--white);
}
.c-footer > div:nth-child(2) > ul > li:not(:last-child) {
    border-right: 1px solid var(--white);
}
.c-footer > div:nth-child(3) {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding: 1rem 25rem;
}
.c-footer > div:nth-child(3) > div > h1 > a {
    font-size: .80rem;
    font-weight: bold;
    color: #999;
    border-bottom: 2px solid #999;
    text-decoration: none;
}
.c-footer {
    font-size: .80rem;
}
.c-footer a {
    text-decoration: none;
    color: #999;
}
.c-footer ul {
    list-style: none;
    padding: 0;
}
.c-footer ul > li {
    padding-top: .25rem;
}
.c-footer > div:nth-child(4) {
    display: flex;
    justify-content: space-between;
    padding: .5rem 25rem;
    background-color: var(--yellow);
    color: var(--white);
    font-size: .7rem;
}
.c-footer > div:nth-child(4) a {
    color: var(--white);
    font-weight: bold;
}


@-webkit-keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fade-in-up {
    from {
        opacity: 0;
        -webkit-transform: translate(-50%, 50%);
        transform: translate(-50%, 50%);
    }
    to {
        opacity: 1;
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
    }
}

@keyframes fade-in-up {
    from {
        opacity: 0;
        -webkit-transform: translate(-50%, 50%);
        transform: translate(-50%, 50%);
    }
    to {
        opacity: 1;
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
    }
}

@-webkit-keyframes fade-in-up-2 {
    from {
        opacity: 0;
        -webkit-transform: translate(0%, 50%);
        transform: translate(0%, 50%);
    }
    to {
        opacity: 1;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}

@keyframes fade-in-up-2 {
    from {
        opacity: 0;
        -webkit-transform: translate(0%, 50%);
        transform: translate(0%, 50%);
    }
    to {
        opacity: 1;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}

* {
    font-family: "korolev", sans-serif!important;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: white;
}

body {
    overflow-x: hidden;
    width: 100vw;
    background-color: var(--yellow);
}

#top-section {
    padding: 40px 0 1050px;
}

.content {
    margin-top: -1050px;
}

.content .container {
    position: relative;
    min-height: 1700px;
}

.content #bottle {
    margin-left: -270px;
}

.content #info {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}

.content #info .pointer .vline {
    height: 275px;
}

.content #info .pointer .hline {
    width: 302px;
}

.content #info .pointer .point {
    margin-left: -300px;
}

.content #info .topic .topic-secondary {
    color: #333;
}

.content #about-mystical-lion {
    position: absolute;
    bottom: 100px;
    right: 0;
}

.content #about-mystical-lion .pointer .vline {
    height: 190px;
}

.content #about-mystical-lion .pointer .hline {
    width: 220px;
}

.content #about-mystical-lion .pointer .point {
    margin-left: -220px;
}

.content #about-mystical-lion .topic .topic-primary {
    color: #ffc522;
}

.content #about-mystical-lion .topic .topic-secondary {
    color: #333;
}

.content #about-mystical-lion .description {
    padding-bottom: 200px;
}

.content #about-mystical-lion .description.th {
    padding-bottom: 100px;
}

.content .box {
    width: 450px;
}

.content .box .pointer {
    position: absolute;
    top: 20px;
    left: -20px;
}

.content .box .pointer .vline {
    width: 1px;
    background: #333;
}

.content .box .pointer .hline {
    position: absolute;
    bottom: 10px;
    left: 10px;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    height: 1px;
    background: #333;
}

.content .box .pointer .point {
    position: absolute;
    bottom: 10px;
    -webkit-transform: translate(15px, 50%);
    transform: translate(15px, 50%);
    width: 16px;
    height: 16px;
    background: #333;
    border-radius: 50%;
}

.content .box .topic {
    font-size: 58px;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1.2em;
    color: #FFF;
}

.content .box .topic .topic-primary {
    font-weight: 700;
}

.content .box .topic .topic-secondary {
    font-weight: 400;
}

.content .box .description {
    margin: 20px 0;
    font-size: 15px;
    line-height: 1.7em;
}

.content .box .description.th {
    font-family: "DB Heavent";
    font-size: 24px;
    line-height: 1.3em;
}

#top-section {
    max-width: 2000px;
    margin: 0 auto;
    background: #ffc522 url("../images/bg-02.jpg") center bottom no-repeat;
}

#top-section .page-headline {
    position: relative;
    padding-bottom: 10px;
    color: #333;
    line-height: 1.2em;
    letter-spacing: 2px;
}

#top-section .page-headline h1 {
    font-size: 50px;
    margin: 0;
    text-transform: uppercase;
}

#top-section .page-headline .headline-primary {
    font-weight: 700;
}

#top-section .page-headline .headline-secondary {
    font-weight: 400;
}

#top-section .page-headline .hr {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 120px;
    height: 4px;
    background: #333;
}

#top-section .back-btn {
    display: inline-block;
    margin-top: 10px;
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 2px;
}

#top-section .back-btn a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: auto;
    color: #FFF;
}

#top-section .back-btn img {
    vertical-align: middle;
    height: 14px;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

#top-section .back-btn:hover img {
    margin-right: 10px;
}

#know-more {
    padding-top: 50px;
    background: #f8f7f7;
}

#know-more .page-headline {
    position: relative;
    margin-bottom: 30px;
    padding-bottom: 10px;
    color: #333;
    line-height: 1.2em;
    letter-spacing: 2px;
    text-transform: uppercase
}

#know-more .page-headline h2 {
    font-size: 50px;
    margin: 0;
    text-transform: uppercase;
}

#know-more .page-headline .headline-primary {
    font-weight: 700;
}

#know-more .page-headline .headline-secondary {
    font-weight: 400;
}

#know-more .page-headline .hr {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 120px;
    height: 4px;
    background: #333;
}

#know-more .list .story-item {
    display: block;
    color: #333;
}

#know-more .list .story-item .story-img {
    overflow: hidden;
}

#know-more .list .story-item .story-img img {
    width: 100%;
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
}

#know-more .list .story-item .story-info {
    padding: 14px 20px;
    background: #FFF;
}

#know-more .list .story-item .story-info .story-topic {
    font-size: 20px;
    text-transform: uppercase
}

#know-more .list .story-item .story-info .story-topic .strong {
    font-weight: 700;
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
}

#know-more .list .story-item .story-info .story-description {
    margin-top: 10px;
    min-height: 95px;
    font-family: 'korolev', sans-serif;
    font-size: 15px;
    line-height: 1.6em;
    color: #999;
}

#know-more .list .story-item .story-info .story-description.th {
    font-family: "DB Heavent";
    font-size: 20px;
    line-height: 1.2em;
}

#know-more .list .story-item:hover .story-img img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

#know-more .list .story-item:hover .story-info .story-topic .strong {
    color: #ffc522;
}

#know-more .action {
    margin-top: 20px;
    padding-bottom: 14px;
}

.modal {
    background-color: #fff;
}

.modal-close {
    cursor: pointer;
    width: 21px;
    position: absolute;
    top: 30px;
    right: 15px;
    z-index: 1;
}

.modal-content {
    border: none;
}

.modal-header {
    border-bottom: none;
    margin-bottom: 0;
}

.modal .embed-responsive {
    margin-top: 20px;
}

.modal-backdrop.show {
    opacity: 0 !important;
}