.ace_dd {
    display: none;
    border: 1px solid #aaa;
    position: absolute;
    background: white;
    border-radius: .25rem;
    z-index: 1000;
}

a.ace_opt {
    padding: 6px 10px;
    display: block;
    text-decoration: none;
    text-align: left;
    letter-spacing: 0.5px;
    cursor: pointer;
}

a.ace_opt:hover {
    background-color: #f0f0f0;
    color: #333;
    text-decoration: none;
}