@import url("https://use.typekit.net/mvj1rfi.css");
@font-face {
    font-family: "DB Heavent";
    src: url("../fonts/DBHeavent.eot");
    src: url("../fonts/DBHeavent.eot?#iefix") format("embedded-opentype"), url("../fonts/DBHeavent.woff2") format("woff2"), url("../fonts/DBHeavent.woff") format("woff"), url("../fonts/DBHeavent.ttf") format("truetype"), url("../fonts/DBHeavent.svg#DBHeavent") format("svg");
    font-weight: normal;
    font-style: normal;
}

@-webkit-keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fade-in-up {
    from {
        opacity: 0;
        -webkit-transform: translate(-50%, 50%);
        transform: translate(-50%, 50%);
    }
    to {
        opacity: 1;
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
    }
}

@keyframes fade-in-up {
    from {
        opacity: 0;
        -webkit-transform: translate(-50%, 50%);
        transform: translate(-50%, 50%);
    }
    to {
        opacity: 1;
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
    }
}

@-webkit-keyframes fade-in-up-2 {
    from {
        opacity: 0;
        -webkit-transform: translate(0%, 50%);
        transform: translate(0%, 50%);
    }
    to {
        opacity: 1;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}

@keyframes fade-in-up-2 {
    from {
        opacity: 0;
        -webkit-transform: translate(0%, 50%);
        transform: translate(0%, 50%);
    }
    to {
        opacity: 1;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}

@-webkit-keyframes fade-in-up-3 {
    from {
        opacity: 0;
        -webkit-transform: translate(0%, 50%);
        transform: translate(0%, 50%);
    }
    to {
        opacity: 1;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}

@keyframes fade-in-up-3 {
    from {
        opacity: 0;
        -webkit-transform: translate(0%, 50%);
        transform: translate(0%, 50%);
    }
    to {
        opacity: 1;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}

body {
    padding-top: 0;
    background: #000;
    font-family: korolev, "DB Heavent", sans-serif;
    font-size: 13px;
    letter-spacing: 0.5px;
}

body {
    background-image: url("../images/bg-age.jpg");
    background-size: cover;
    background-position: center center;
    height: 100vh;
}

select::-ms-expand {
    display: none;
}

.btn {
    width: auto;
    height: auto;
}

#logo {
    position: fixed;
    top: 0;
    right: 40px;
    height: 180px;
    z-index: 1000;
    opacity: 0;
    -webkit-animation: fade-in 1.4s ease-in-out forwards;
    animation: fade-in 1.4s ease-in-out forwards;
}

#content {
    position: absolute;
    top: 60%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 20px 15px;
    text-align: center;
    color: #FFF;
}

#content .instruction {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0px;
    opacity: 0;
    -webkit-animation: fade-in-up-2 0.7s ease-in-out forwards;
    animation: fade-in-up-2 0.7s ease-in-out forwards;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

#content .instruction h1 {
    font-size: 40px;
    margin-bottom: 0;
    font-weight: bold;
}

#content .age-question {
    opacity: 0;
    -webkit-animation: fade-in-up-2 0.7s ease-in-out forwards;
    animation: fade-in-up-2 0.7s ease-in-out forwards;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

#content .age-question a.btn.btn-age-question {
    color: #ffffff;
    font-size: 25px;
    line-height: 25px;
    font-weight: bold;
    text-transform: uppercase;
    border: 2px #ffffff solid;
    border-radius: 0;
    padding: 5px 0;
    width: 160px;
    margin: 15px 7px;
}

#content .age-question a.btn.btn-age-question:hover {
    color: #ffffff;
    background-color: rgba(255, 197, 34, 1);
}

#content .text-terms {
    margin-top: 10px;
    font-size: 16px;
    text-transform: uppercase;
    opacity: 0;
    -webkit-animation: fade-in-up-2 0.7s ease-in-out forwards;
    animation: fade-in-up-2 0.7s ease-in-out forwards;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

#content .text-terms a {
    color: #FFF;
    text-decoration: underline;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

#content .text-terms a:hover {
    color: #ffc522;
}

#content .social {
    color: #ffffff;
    margin-top: 45px;
    opacity: 0;
    -webkit-animation: fade-in-up-2 0.7s ease-in-out forwards;
    animation: fade-in-up-2 0.7s ease-in-out forwards;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

#content .social a {
    color: #ffffff;
    text-decoration: underline;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

#content .social a:hover {
    color: #ffc522;
}

#content .social .fab {
    margin: 0 12px;
}

#error-msg {
    position: absolute;
    bottom: 20px;
    left: 50%;
    -webkit-transform: translate(-50%, 50%);
    transform: translate(-50%, 50%);
    padding: 14px 20px;
    border-radius: 5px;
    background: #e02323;
    -webkit-box-shadow: 0 6px 14px rgba(0, 0, 0, 0.5);
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.5);
    color: #FFF;
    text-align: center;
    opacity: 0;
    -webkit-animation: fade-in-up 0.7s forwards;
    animation: fade-in-up 0.7s forwards;
    -webkit-animation-delay: 1.6s;
    animation-delay: 1.6s;
}

@media only screen and (max-width: 767px) {
    #logo {
        right: 20px;
        height: 130px;
    }
    #content .instruction {
        font-size: 24px;
        line-height: 1.3em;
    }
    #content .instruction h1 {
        font-size: 24px;
        line-height: 1.3em;
    }
    #content .age-question a.btn.btn-age-question {
        font-size: 20px;
        line-height: 20px;
        padding: 4px 0;
    }
    #content .text-terms {
        font-size: 14px;
    }
    #error-msg {
        width: 80%;
    }
}