@font-face {
    font-family: "DB Heavent";
    src: url("../fonts/DBHeavent.eot");
    src: url("../fonts/DBHeavent.eot?#iefix") format("embedded-opentype"), url("../fonts/DBHeavent.woff2") format("woff2"), url("../fonts/DBHeavent.woff") format("woff"), url("../fonts/DBHeavent.ttf") format("truetype"), url("../fonts/DBHeavent.svg#DBHeavent") format("svg");
    font-weight: normal;
    font-style: normal;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade-in-up {
    from {
        opacity: 0;
        transform: translate(-50%, 50%);
    }
    to {
        opacity: 1;
        transform: translate(-50%, 0);
    }
}

@keyframes fade-in-up-2 {
    from {
        opacity: 0;
        transform: translate(0%, 50%);
    }
    to {
        opacity: 1;
        transform: translate(0, 0);
    }
}

#banner {
    position: relative;
    overflow: hidden;
    padding-bottom: 30px;
    margin: 0 auto;
    max-width: 2000px;
}

#banner .container {
    position: relative;
    max-width: 1366px !important;
    height: 501px;
    margin: 0 auto;
    padding: 0;
    background: #FFF;
    transition: 0.2s ease-in-out;
}

#banner .container ul {
    margin: 0;
    padding-left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

#banner .container ul li {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    list-style: none;
}

#banner .container ul li img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    height: 100%;
}

#banner .container ul li.active {
    display: block;
}

#banner .container .banner-nav {
    position: absolute;
    bottom: 5px;
    left: 20px;
    width: 47%;
    text-align: center;
    overflow: hidden;
}

#banner .container .banner-nav .banner-nav-item {
    display: inline-block;
    padding: 10px 5px;
    width: 100px;
    cursor: pointer;
    text-align: left;
}

#banner .container .banner-nav .banner-nav-item .line {
    display: inline-block;
    width: 100%;
    height: 3px;
    background: rgba(255, 255, 255, 0.5);
    transition: 0.2s;
}

#banner .container .banner-nav .banner-nav-item.active .line {
    background: white;
}

#banner .container .banner-nav .banner-nav-item:hover .line {
    height: 6px;
}

#banner .container .estd-1933-badge {
    position: absolute;
    bottom: -1px;
    right: -1px;
    z-index: 0;
}

#banner .slope {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}

#highlighted-items {
    padding: 20px 0 400px;
    margin: 0 auto;
    max-width: 2000px;
    background: #ffc522;
}

#highlighted-items .items {
    position: relative;
    margin-top: 60px;
}

#highlighted-items .items .highlighted-item {
    display: inline-block;
    margin: 0;
    position: relative;
    overflow: hidden;
    width: 476px;
    height: 417px;
    outline: none;
}

#highlighted-items .items .highlighted-item .child {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    z-index: 0;
    transition: 1s ease-in-out;
}

#highlighted-items .items .highlighted-item .child.active {
    opacity: 1;
    z-index: 1;
}

#highlighted-items .items .highlighted-item:nth-child(2) {
    z-index: 3;
}

#highlighted-items .items .highlighted-item .image {
    width: 100%;
    transition: 0.4s ease-in-out;
}

#highlighted-items .items .highlighted-item .text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}

#highlighted-items .items .highlighted-item .dots {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
}

#highlighted-items .items .highlighted-item .dots .dot-item {
    display: inline-block;
    margin: 0 3px;
    width: 10px;
    height: 10px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}

#highlighted-items .items .highlighted-item .dots .dot-item.active {
    background: #FFF;
}

#highlighted-items .items .highlighted-item:nth-child(2) {
    transform: translateY(-50%);
}

#highlighted-items .items .highlighted-item:nth-child(3) {
    margin-top: -6px;
    transform: translate(100%, -50%);
}

#highlighted-items .items .highlighted-item:nth-child(4) {
    margin-top: -6px;
    transform: translate(-100%);
}

#highlighted-items .items .highlighted-item:hover .image {
    transform: scale(1.1);
}

#events {
    margin-top: -325px;
    padding-bottom: 300px;
    background: #ffc522 url("../images/bg-02.jpg") center bottom no-repeat;
}

#events .sub-headline {
    padding: 20px 0 25px 150px;
    font-size: 16px;
    line-height: 1.2em;
    color: #FFF;
}

#events .sub-headline.th {
    font-size: 20px;
}

#events .event-items .event-item {
    margin-bottom: 30px;
}

#events .event-items .event-item .event-img {
    display: block;
    position: relative;
    overflow: hidden;
    min-height: 180px;
    background: #dcdbdb;
}

#events .event-items .event-item .event-img img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: left center;
    min-width: 100%;
    max-width: 100%;
    transition: 0.4s ease-in-out;
}

#events .event-items .event-item .event-img:hover img {
    transform: scale(1.1) translate(-50%, -50%);
}

#events .event-items .event-item .event-img.past {
    filter: grayscale(1);
}

#events .event-items .event-item .event-info-box {
    background: #f0efef;
}

#events .event-items .event-item .event-info-box .event-category {
    padding: 10px 20px;
    border-bottom: 1px solid #dcdbdb;
    text-align: center;
    font-size: 18px;
}

#events .event-items .event-item .event-info-box .event-info {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 14px 20px;
}

#events .event-items .event-item .event-info-box .event-info .event-date {
    flex: 1;
    text-align: left;
    padding-right: 20px;
}

#events .event-items .event-item .event-info-box .event-info .event-date .month {
    font-size: 32px;
    line-height: 0.9em;
    color: #ffc522;
}

#events .event-items .event-item .event-info-box .event-info .event-date .date {
    font-size: 32px;
    letter-spacing: 1px;
    line-height: 1.2em;
}

#events .event-items .event-item .event-info-box .event-info .event-detail {
    flex: 4;
    font-family: "DB Heavent";
    font-size: 18px;
    line-height: 1em;
}

#events .event-items .event-item .event-info-box .event-info .event-detail .event-name {
    font-weight: bold;
}

#events .event-items .event-item .event-info-box .event-info .event-detail .event-name a {
    color: #333;
}

#events .event-items .event-item .event-info-box .event-info .event-detail .event-name a:hover {
    text-decoration: underline;
}

#events .event-items .event-item .event-info-box .event-info .event-detail .detail {
    color: #666;
}

#events .event-items .event-item .event-info-box .event-action {
    padding: 6px 20px 20px;
}

#events .event-items .event-item .event-info-box .event-action .addcalevent .btn,
#events .event-items .event-item .event-info-box .event-action .view-event-detail .btn {
    background: none;
    font-size: 12px;
    line-height: 26px;
    letter-spacing: 0.5px;
    cursor: pointer;
}

#events .event-items .event-item .event-info-box .event-action .addcalevent:hover .btn,
#events .event-items .event-item .event-info-box .event-action .view-event-detail:hover .btn {
    background: #666;
    color: #FFF;
}

#events hr {
    margin-top: 30px;
    width: 250px;
    border-top: 2px solid rgba(0, 0, 0, 0.35);
}

#events .btn-large {
    background: none;
}

#events .btn-large:hover {
    background: #ffc522;
}

#lifestyle-article {
    margin-top: -170px;
    background: url("../images/bg-04.png") center bottom -550px no-repeat;
}

#lifestyle-article .normal-headline .headline-primary {
    display: inline-block;
}

#lifestyle-article .normal-headline .headline-secondary {
    display: inline-block;
    font-weight: normal;
}

#lifestyle-article hr {
    margin: 20px auto;
    width: 250px;
    border-top: 2px solid rgba(0, 0, 0, 0.35);
}

#lifestyle-article .sub-headline {
    margin: 20px auto 30px;
    font-size: 16px;
    line-height: 1.2em;
    color: #666;
}

#lifestyle-article .sub-headline.th {
    font-size: 20px;
}

#lifestyle-article .article-items {
    margin-top: 20px;
}

#lifestyle-article .article-items .article-item {
    padding-bottom: 40px;
}

#lifestyle-article .article-items .article-item .article-img {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 396px;
}

#lifestyle-article .article-items .article-item .article-img img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    max-height: 100%;
}

#lifestyle-article .article-items .article-item .col-md-5 {
    padding-left: 20px;
}

#lifestyle-article .article-items .article-item .justify-content-end .col-md-5 {
    padding-left: 15px;
    padding-right: 20px;
}

#lifestyle-article .article-items .article-item .justify-content-end .article-headline,
#lifestyle-article .article-items .article-item .justify-content-end .article-description {
    float: right;
}

#lifestyle-article .article-items .article-item .article-category {
    padding: 30px 0 20px;
    font-size: 20px;
    font-weight: normal;
    line-height: 1.2em;
    letter-spacing: 3px;
}

#lifestyle-article .article-items .article-item .article-category .primary {
    color: #ffc522;
}

#lifestyle-article .article-items .article-item .article-category .secondary {
    color: #333;
}

#lifestyle-article .article-items .article-item .article-category.nowrap .primary,
#lifestyle-article .article-items .article-item .article-category.nowrap .secondary {
    display: inline-block;
}

#lifestyle-article .article-items .article-item .article-headline {
    width: 100%;
    padding: 20px 0;
    border-top: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
    font-family: "DB Heavent";
    font-size: 20px;
    line-height: 1.2em;
    letter-spacing: 0.5px;
    color: #666;
}

#lifestyle-article .article-items .article-item .article-description {
    width: 92%;
    padding: 20px 0 20px;
    font-family: "DB Heavent";
    font-size: 20px;
    line-height: 1.2em;
    letter-spacing: 0.5px;
    color: #666;
}

#lifestyle-article .article-items .article-item .article-actions .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    line-height: 0.5em;
    font-size: 13px;
}

#lifestyle-article .article-items .article-item .article-actions .btn:hover {
    border: 1px solid #ffc522;
    background: #ffc522;
}

#lifestyle-article .article-items .article-item .article-actions .more-detail-btn.text-right {
    float: right;
}

#lifestyle-article .article-items .article-item:nth-child(2) {
    background: url("../images/bg-03.png") center bottom no-repeat;
}

#lifestyle-article .article-items .article-item:nth-child(3) {
    background: url("../images/bg-05.png") center top no-repeat;
}

#lifestyle-article .article-items .article-item:nth-child(4) {
    padding-bottom: 120px;
    background: url("../images/bg-06.png") center top 30px no-repeat;
}

#lifestyle-article .article-items .article-item:nth-child(4) .article-content {
    padding-top: 50px;
}

#lifestyle-article .article-items .article-item:nth-child(3) .article-category .primary,
#lifestyle-article .article-items .article-item:nth-child(4) .article-category .primary {
    color: #FFF;
}

#lifestyle-article .article-items .article-item:nth-child(3) .article-headline,
#lifestyle-article .article-items .article-item:nth-child(4) .article-headline {
    border-color: #FFF;
    color: #FFF;
}

#lifestyle-article .article-items .article-item:nth-child(3) .article-description,
#lifestyle-article .article-items .article-item:nth-child(4) .article-description {
    color: #FFF;
}

#lifestyle-article .article-items .article-item:nth-child(3) .article-actions .btn,
#lifestyle-article .article-items .article-item:nth-child(4) .article-actions .btn {
    border-color: #FFF;
    color: #FFF;
}

#lifestyle-article .article-items .article-item:nth-child(3) .article-actions .btn:hover,
#lifestyle-article .article-items .article-item:nth-child(4) .article-actions .btn:hover {
    background: #FFF;
    color: #ffc522;
}

#social-hub {
    margin: 40px 0 60px;
}

#social-hub hr {
    width: 250px;
}

#social-hub .sub-headline {
    margin: 20px auto 30px;
    font-size: 20px;
    line-height: 1.2em;
    font-family: "DB Heavent";
    color: #666;
}

#social-hub .social-hub-items {
    margin: 40px 0;
}

#action {
    position: relative;
    margin-top: 0px;
    padding-bottom: 14px;
    background: #FFF;
}

footer {
    margin-top: 0px;
}

@media only screen and (min-width: 1200px) {
    #lifestyle-article .article-items .article-item .col-md-5 {
        max-width: 34%;
    }
}

@media only screen and (max-width: 1199px) {
    #highlighted-items {
        padding-bottom: 60px;
        background: #ffc522;
    }
    #highlighted-items .items {
        margin-top: 70px;
    }
    #highlighted-items .items .highlighted-item {
        width: 400px;
        height: auto;
        padding-bottom: 4px;
    }
    #highlighted-items .items .highlighted-item:before {
        content: "";
        display: block;
        padding-top: 87%;
    }
    #events {
        margin-top: -30px;
    }
    #events .event-items .event-item .event-img {
        min-height: 150px;
    }
    #lifestyle-article .article-items .article-item {
        min-height: 380px;
    }
    #lifestyle-article .article-items .article-item .article-img {
        height: 360px;
    }
    #lifestyle-article .article-items .article-item .article-category {
        font-size: 22px;
    }
    #lifestyle-article .article-items .article-item .article-headline {
        padding: 14px 0;
        font-size: 24px;
    }
    #lifestyle-article .article-items .article-item .article-description {
        font-size: 20px;
    }
}

@media only screen and (max-width: 991px) {
    #banner {
        padding-bottom: 20px;
    }
    #highlighted-items {
        background: #ffc522;
    }
    #highlighted-items .items {
        margin-top: 170px;
        margin-bottom: 50px;
    }
    #highlighted-items .items .highlighted-item {
        width: 300px;
        height: auto;
        padding-bottom: 3px;
    }
    #events .sub-headline {
        padding-left: 0;
        text-align: center;
    }
    #events .event-items .event-item .event-img {
        min-height: 170px;
    }
    #lifestyle-article .article-items .article-item {
        min-height: 400px;
    }
    #lifestyle-article .article-items .article-item .article-category {
        padding-top: 20px;
    }
    #action {
        background: none;
    }
}

@media only screen and (max-width: 767px) {
    #banner {
        padding-bottom: 0;
    }
    #banner .container {
        height: 400px;
    }
    #banner .container .estd-1933-badge {
        width: 290px;
    }
    #banner .banner-nav {
        display: none;
    }
    #highlighted-items {
        padding-bottom: 0;
        background: #ffc522;
    }
    #highlighted-items .container {
        padding: 0;
        box-sizing: border-box;
    }
    #highlighted-items .items {
        margin-top: 20px;
    }
    #highlighted-items .items .highlighted-item {
        width: 100%;
        max-width: 430px;
        height: auto;
        transform: none !important;
    }
    #highlighted-items .items .highlighted-item:nth-child(2) {
        margin-top: -6px;
    }
    #events {
        margin-top: -50px;
        padding-top: 40px;
    }
    #events .event-items .event-item .event-img {
        min-height: 120px;
    }
    #lifestyle-article .article-items .article-item {
        min-height: 380px;
        text-align: center !important;
    }
    #lifestyle-article .article-items .article-item .col-md-5 {
        text-align: center !important;
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
    #lifestyle-article .article-items .article-item .article-img {
        height: 300px;
    }
    #lifestyle-article .article-items .article-item .article-description {
        width: 100%;
    }
    #lifestyle-article .article-items .article-item:nth-child(2) {
        background-position: right -1015px bottom;
    }
    #lifestyle-article .article-items .article-item:nth-child(3) {
        background: #ffc522;
    }
    #lifestyle-article .article-items .article-item .more-detail-btn {
        float: inherit !important;
    }
    #lifestyle-article .article-items .article-item .more-detail-btn .btn {
        margin: 0 auto;
    }
    #action {
        margin-top: 0px;
    }
    footer {
        margin-top: 0;
    }
}

@media only screen and (max-width: 575px) {
    #events .event-items .event-item .event-img {
        min-height: 160px;
    }
    #lifestyle-article .article-items .article-item .container {
        padding: 0;
    }
    #lifestyle-article .article-items .article-item .container .row {
        margin: 0 !important;
    }
    #lifestyle-article .article-items .article-item .container .col-md-7 {
        padding: 0 !important;
    }
    #lifestyle-article .article-items .article-item .container .col-md-5 {
        padding: 0 15px !important;
    }
}

/*# sourceMappingURL=home.css.map */